@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-image: url(./imgs/body-background.jpg);
}

.container {
    width: 76%;
    padding: 12px;
    margin: 10px;
    border-radius: 10px;
    background-color: hotpink;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.explain-quiz {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 2px;
    flex-direction: row;
    margin-top: 10px;
}

.explain {
    font-size: 18px;
}

.bnt {
    width: 80px;
    border-radius: 10px;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    cursor: pointer;
    margin-top: 20px;
}

.bnt:hover {
    background-color: #000;
    color: #fff;
}

.imgs {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 26px;
}

.img {
    height: 240px;
    width: 32%;
    border-radius: 14px;
}

.quiz {
    display: none;
    align-items: center;
    flex-direction: column;
    background-color: #FFB6C1;
    max-width: 100%;
    width: 100%; 
    box-sizing: border-box; 
    padding: 20px;
    border-radius: 20px;
    margin-top: 10px;
}

.quiz input {
    width: 80%;
}

.quiz input:focus {
    outline: none;
}

.quiz label {
    width: 80%;
}

.resultado {
    margin-top: 20px;
}

.respVisible {
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.resp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: #ddd;
}